html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title="Bella"
        link(href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css", rel="stylesheet")
        link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
        link(href="/stylesheets/sidebar.css", rel="stylesheet")
        block head
    body
        .navbar.navbar-default.navbar-fixed-top
            .navbar-header
                a(href="/").navbar-brand
                    span.glyphicon.glyphicon-film
                    |  Media Manager
            ul.nav.navbar-nav
                li
                    input(type="text", placeholder="Search...").search
            ul.nav.navbar-nav.pull-right
                if(!user)
                    li
                        a(href="/signin") Signin
                    li
                        a(href="/signup") Signup
                else
                    li.dropdown#settings-dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#")
                            | Settings
                            | 
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/settings/general") General
                    li
                        a(href="/user/" + user._id) #{user.email}
                    li
                        a(href="/signout") Signout
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    .nav.nav-sidebar
                        li.active
                            a(href="/") All media
                        li
                            a(href="/shows") Shows
                        li
                            a(href="/movies") Movies
                        li
                            a(href='/music') Music
                .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                    block content
        script(src="/js/basket.full.min.js")
        script.
            basket.require(
                { url: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js' },
                { url: 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js' },
                { url: 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js' },
                { url: 'https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.min.js' }
            );
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js")
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.1.1/isotope.pkgd.min.js")
        block scripts
