html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title="o"
        link(href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
    body
        .navbar.navbar-default.navbar-static-top
            .navbar-header
                a(href="/").navbar-brand
                    span.glyphicon.glyphicon-film
                    | o
            ul.nav.navbar-nav
                li
                    a(href="/") Home
                li.dropdown#show-dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="#")
                        | Shows
                        | 
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/show/add") Add
                li.dropdown#movie-dropdown
                    a.dropdown-toggle(data-toggle="dropdown", href="#")
                        | Movies
                        | 
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/movie/add") Add
            ul.nav.navbar-nav.pull-right
                if(!user)
                    li
                        a(href="/signin") Signin
                    li
                        a(href="/signup") Signup
                else
                    li.dropdown#settings-dropdown
                        a.dropdown-toggle(data-toggle="dropdown", href="#")
                            | Settings
                            | 
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/settings/general") General
                    li
                        a(href="/user/" + user._id) #{user.email}
                    li
                        a(href="/signout") Signout
        block content
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
